@import "react-big-calendar/lib/css/react-big-calendar.css";
html,body,#root{height:100%; margin:0; font-family:Inter, system-ui, -apple-system, 'Segoe UI', Roboto, Arial;}
.rbc-calendar { box-sizing:border-box; }
